# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
t=tuple(range(1, 11))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
print(t[0])
print(t[-1])
print(t[len(t)//2])

1
10
6

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
print(t[:3])
print(t[-3:])
print(t[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [4]:
mat=((1, 2, 3),
     (4, 5, 6),
     (7, 8, 9))
for row in mat:
    print(row)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [5]:
t1=(1, 2, 3)
t2=(4, 5, 6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [6]:
t=(1, 2, 8, 7, 8, 5)
print(t.count(8))
print(t.index(7))

2
3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [7]:
a, b, c, d, e=(1, 2, 3, 4, 5)
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [8]:
t=tuple(list(range(1, 6)))
print(t)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [9]:
tt=((1, 2,3),
    (4, 5, 6),
    (7, 8, 9))
print(tt)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [10]:
t=tuple(range(1, 6))
l=list(t)
l.append(6)
t2=tuple(l)
print(t2)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [11]:
s="kritish"
t=tuple(s)
print("".join(t))

kritish

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [12]:
td={(1, 2):3,
    (2, 4):5,
    (6, 7):8}
print(td)

{(1, 2): 3, (2, 4): 5, (6, 7): 8}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [13]:
for t in tt:
    for e in t:
        print(e)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [14]:
t=(1, 22, 54, 98, 78, 98)
s=set(t)
print(s)

{1, 98, 78, 54, 22}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [16]:
def compute(t):
    print(max(t))
    print(min(t))
    print(sum(t))
t=tuple(map(int, input().split()))
compute(t)

8
0
28