# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
s=set(range(1, 11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
s.add(11)
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [3]:
s1=set(range(1, 6))
s2=set(range(2, 11, 2))
print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s1^s2)

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [4]:
x=set(i**2 for i in range(1, 11))
print(x)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [5]:
p=set(i for i in s if i%2==0)
print(p)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [6]:
sd={1, 2, 3, 3, 5, 5, 4}
print(set(sd))

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [9]:
s3=set(range(1, 6))
s4=set(range(1, 3))
print(s4.issubset(s3))
print(s3.issuperset(s4))

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [11]:
sp=frozenset(range(1, 6))
print(sp)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [13]:
sl=set(range(1, 6))
l=list(sl)
l.append(6)
print(set(l))

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [14]:
fz={
    frozenset((1, 2)):3,
    frozenset((4, 5)):6,
    
}
print(fz)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [16]:
st=set(range(1, 6))
for i in st:
    print(i)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [18]:
sp=set(range(1, 6))
while sp:
    sp.pop()
    print(sp)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [20]:
s1=set((1, 2, 3))
s2=set((4, 5, 6))
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 3, 4, 5, 6}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [21]:
stt=set(range(1, 6))
print(3 in stt)
print(6 in stt)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [22]:
s={(1, 2), (3, 4), (5,6)}
print(s)

{(1, 2), (3, 4), (5, 6)}